<div class="collapse collapse-arrow bg-base-200">
  <% if @study_records_of_day.empty? %>
    <div class="p-4 text-center text-lg font-bold">
      表示するデータがありません。
    </div>
  <% else %>
    <% @study_records_of_day.each do |study_record| %>
      <%= link_to edit_dashboard_path(study_record) do %>
        <div class="card card-bordered w-96 bg-base-100 shadow-xl">
          <div class="card-body">
            <p>開始時間: <%= study_record.start_time.strftime("%Y-%m-%d %H:%M") %></p>
            <p>終了時間: <%= study_record.finish_time ? study_record.finish_time.strftime("%Y-%m-%d %H:%M") : "未設定" %></p>
            <p>合計時間: <%= study_record.total_time ? format('%02d:%02d', study_record.total_time / 60, study_record.total_time % 60) : "未計算" %></p>
            <% if study_record.tags.any? %>
              <p>タグ: <%= study_record.tags.map(&:name).join(", ") %></p>
            <% else %>
              <p>タグ: なし</p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
