<div class="navbar bg-primary text-primary-content">
  <a class="btn btn-ghost normal-case text-xl">daisyUI</a>
  <%= link_to "sign up", new_user_registration_path %>

<%= form_with url: user_google_oauth2_omniauth_authorize_path, method: :post do %>
  <%= button_tag "Sign Up with Google", class: "btn btn-secondary" %>
<% end %>


<% if user_signed_in? %>
  <%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-primary" %>
<% else %>
  <%= link_to 'Login', new_user_session_path, class: "btn btn-secondary" %>
<% end %>

</div>